<!DOCTYPE html>
<meta charset="UTF-8">
<html ng-app="app" 
		ng-controller="Controller" 
		drop="handleFileSelect($event)" 
		dragover="handleDragOver($event)"
		ng-keypress="shortcut($event)">

<head>

<link rel="stylesheet" type="text/css" href="style.css">

<script src="angular.min.js"></script>
<script src="diacritics.js"></script>
<script src="dragAndDrop.js"></script>
<script src="script.js"></script>
<script src="XLN.jsonp"></script>

<title>Team Bearscape Proprietary Deck Editing Suite</title>

</head>

<body ng-mousemove="">

	<div class="frame">
	
		<div class="pool container noselect" ng-style="{'flex-basis' : percent + '%'}">
			<div ng-if="!pool.length" class="emptyMessage">[EMPTY]</div>
			<img ng-class="'cardSize' + cardSize"
					ng-repeat="card in pool track by $index" 
					ng-src="images/{{getImageName(card)}}.png"
					ng-click="moveCard(pool, currentDeck(), $index)">
		</div>

		<div class="deckHeader noselect" ng-click="">DECK {{deckNumber + 1}} ({{currentDeck().length}} cards)</div>

		<div class="deck container noselect">
			<div ng-if="!currentDeck().length" class="emptyMessage">[EMPTY]</div>
			<img ng-class="'cardSize' + cardSize"
					ng-repeat="card in currentDeck() track by $index" 
					ng-src="images/{{getImageName(card)}}.png"
					ng-click="moveCard(currentDeck(), pool, $index)">
		</div>
	</div>

	<div class="popup" ng-show="showDeckList" ng-click="hideDeckList()">
		<textarea class="copyFrame" ng-click="$event.stopPropagation()" ng-model="paste" readonly></textarea>
	<div>
</body>

</html>
