<!DOCTYPE html>
<meta charset="UTF-8">
<html ng-app="app" 
		ng-controller="Controller" 
		drop="handleFileSelect($event)" 
		dragover="handleDragOver($event)"
		ng-keypress="shortcut($event)">

<head>

<link rel="stylesheet" type="text/css" href="style.css">

<script src="angular.min.js"></script>
<script src="diacritics.js"></script>
<script src="dragAndDrop.js"></script>
<script src="script.js"></script>
<script src="XLN.jsonp"></script>

<title>Team Bearscape Proprietary Deck Editing Suite v1.0</title>

</head>

<body ng-mousemove="">

	<div class="frame">

		<div class="pool container noselect">
			<div ng-if="!pool.contents.length" class="emptyMessage">[EMPTY]</div>
			<img ng-class="'cardSize' + cardSize"
					ng-repeat="card in pool.contents track by $index" 
					ng-src="images/{{getImageName(card)}}.png"
					ng-click="moveCard(pool, currentDeck, $index)">
		</div>

		<div class="deckHeader noselect" slider ng-mousedown="startMoveDivider()">{{currentDeck.name|uppercase}} ({{currentDeck.contents.length}} cards)</div>

		<div class="deck container noselect">
			<div ng-if="!currentDeck.contents.length" class="emptyMessage">[EMPTY]</div>
			<img ng-class="'cardSize' + cardSize"
					ng-repeat="card in currentDeck.contents track by $index" 
					ng-src="images/{{getImageName(card)}}.png"
					ng-click="moveCard(currentDeck, pool, $index)">
		</div>

	</div>

	<div class="popup" ng-show="popup" ng-click="hideDeckList()">
		<textarea class="copyFrame" ng-click="$event.stopPropagation()" ng-model="popupText" readonly></textarea>
	<div>

</body>

</html>
